*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    background-color: antiquewhite;
    color: #6c8ebc;
    font-size: 20px;
}
header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: red;
    padding-right: 200px;
    text-align: left;
}
header img{
    height: 150%;
    width: 100%;
    display: block;
}
section{
    padding-left: 45%;
}
.nav{
    padding: 20px 20px;
}
.container{
   display: block;
}
.container menu{
    
}
.menu{
    padding: 20px 20px;
    padding-left: 10px 10px;
    background-color: #967270;
    text-decoration: none;
    font-size: 20px;
}
.menu a:hover{
    text-decoration: underline;
}
#feature{
    position: relative;
    padding: 30px 0;
}
.boxes{
    padding-top: 30px;
    display: flex;
}
.box{
    width: 30%;
    position: relative;
}
.box img{
    width: 100%;
    display: flex;
    border-image-width:20px;
    height: 100%;
    padding:25px;
}
.box h4{
    position: absolute;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 5px 5px;
    padding-bottom: 0px;
    opacity: 0.8;
}
.box h4 a{
    text-align: left;
    color: #927341;
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box h4 a:hover{
    text-decoration: underline;
}
.box img:hover{
    transform: scale(150%);
}
h3{
    font-size: 24px;
}
h6{
    font-size: 24px;
    color: slateblue;
}